#Ignore folders
Test/
Frontend/webapp/node_modules/
Frontend/'~'/
Frontend/vscode-root/
Frontend/.vscode/
Frontend/webapp/Media-606208d3d348.json
Frontend/webapp/Media-ee4089f1011c.json
Frontend/~/.vscode-root/

#Ignore files
Media-606208d3d348.json
